src/modules/extensible-version/ead/modules/attributes.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    
    <!-- ATTRIBUTES -->
   <define name="attribute.addressLineType.optional">
      <optional>
         <attribute name="addressLineType">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.agentType">
      <attribute name="agentType">
            <!-- NOTE:  
                was token for EAC 2.0.
                if we change to NMTOKEN, as requested, just remember to make a note in the EAC 2.1 release.
            -->
         <data type="token"/>
      </attribute>
   </define>
   <define name="attribute.audience.optional">
      <optional>
         <attribute name="audience">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.base.optional">
      <optional>
         <attribute name="base">
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.calendar.optional">
      <optional>
         <attribute name="calendar">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.certainty.optional">
      <optional>
         <attribute name="certainty">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.contactLineType.optional">
      <optional>
         <attribute name="contactLineType">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.containerId.optional">
      <optional>
         <attribute name="containerId">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.conventionDeclarationReference.optional">
      <optional>
         <attribute name="conventionDeclarationReference">
            <data type="IDREFS"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.coordinateSystem">
      <attribute name="coordinateSystem">
         <data type="token"/>
      </attribute>
   </define>
   <define name="attribute.countryCode.optional">
      <optional>
         <attribute name="countryCode">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.coverage">
      <attribute name="coverage">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.daoType">
      <attribute name="daoType">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.dateChar.optional">
      <optional>
         <attribute name="dateChar">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.detailLevel.optional">
      <optional>
         <attribute name="detailLevel">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.dscType.optional">
      <optional>
         <attribute name="dscType">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.encodingAnalog.optional">
      <optional>
         <attribute name="encodingAnalog">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.era.optional">
      <optional>
         <attribute name="era">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.id.optional">
      <optional>
         <attribute name="id">
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.identityType.optional">
      <optional>
         <attribute name="identityType">
                <!-- another one:  IF we change token to NMTOKEN, then we will need to make sure to call out that update for EAC 2.1 -->
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.label.optional">
      <optional>
         <attribute name="label">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.level">
      <attribute name="level">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.localType">
      <attribute name="localType">
         <data type="token"/>
      </attribute>
   </define>
   <define name="attribute.localTypeDeclarationReference">
      <attribute name="localTypeDeclarationReference">
         <data type="IDREFS"/>
      </attribute>
   </define>
   <define name="attribute.maintenanceEventType">
      <attribute name="maintenanceEventType">
         <data type="token"/>
      </attribute>
   </define>
   <define name="attribute.maintenanceStatus">
      <attribute name="maintenanceStatus">
         <data type="token"/>
      </attribute>
   </define>
   <!-- do really want IDFREFS, as defined in EAD3, or would IDREF suffice? e.g. a container cannot be in multiple containers at once, right? -->
   <define name="attribute.parent.optional">
      <optional>
         <attribute name="parent">
            <data type="IDREFS"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.physDescStructuredType">
      <attribute name="physDescStructuredType">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.publicationStatus.optional">
      <optional>
         <attribute name="publicationStatus">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.preferredForm.optional">
      <optional>
         <attribute name="preferredForm">
            <data type="boolean"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.repositoryCode.optional">
      <optional>
         <attribute name="repositoryCode">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.standardDateTime.optional">
      <optional>
         <attribute name="standardDateTime">
            <ref name="dt.any-standard-dateTime"/>
         </attribute>
      </optional>
   </define>
   <!-- new, for EAD4.  See other options in use for EAC 2.0.  If we change the approach, we will need handle the EAC status variations separately, in a new way -->
   <define name="attribute.status.optional">
      <optional>
         <attribute name="status">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.status.authorized-or-alternative.optional">
      <optional>
         <attribute name="status">
            <choice>
               <value>authorized</value>
               <value>alternative</value>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="attribute.status.ongoing-or-unknown.optional">
      <optional>
         <attribute name="status">
            <choice>
               <value>ongoing</value>
               <value>unknown</value>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="attribute.status.unknown.optional">
      <optional>
         <attribute name="status">
            <choice>
               <value>unknown</value>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="attribute.style.optional">
      <optional>
         <attribute name="style">
            <data type="normalizedString"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.target.optional">
      <optional>
         <attribute name="target">
            <data type="IDREFS"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.targetType">
      <attribute name="targetType">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.unit.optional">
      <optional>
         <attribute name="unit">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.unitDateType.optional">
      <optional>
         <attribute name="unitDateType">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <!-- TO DO -->
   <!-- re-alphabeticize once we get everything settled.  for now, the @:*Encoding attributes, each defined separately, in case folks want to override any of these definitions -->
   <define name="attribute.addressTypeLineEncoding">
      <attribute name="addressTypeLineEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherAddressTypeLineEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.agentTypeEncoding">
      <attribute name="agentTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherAgentTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.audienceEncoding">
      <attribute name="audienceEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherAudienceEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.contactTypeEncoding">
      <attribute name="contactTypeLineEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherContactTypeLineEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.countryEncoding">
      <attribute name="countryEncoding" a:defaultValue="iso3166-1">
         <choice>
            <value>iso3166-1</value>
            <value>otherCountryEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.coverageEncoding" a:exclude-from="eac">
      <attribute name="coverageEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherCoverageEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.daoTypeEncoding" a:exclude-from="eac">
      <attribute name="daoTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherDaoTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.detailLevelEncoding">
      <attribute name="detailLevelEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherDetailLevelEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.dscTypeEncoding" a:exclude-from="eac">
      <attribute name="dscTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherDscTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.dateEncoding">
      <attribute name="dateEncoding" a:defaultValue="iso8601">
         <choice>
            <value>iso8601</value>
            <value>otherDateEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.identityTypeEncoding">
      <attribute name="identityTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherIdentityTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.languageCode">
      <attribute name="languageCode">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.languageEncoding">
      <attribute name="languageEncoding" a:defaultValue="iso639-2">
         <choice>
            <value>iso639-1</value>
            <value>iso639-2</value>
            <value>iso639-3</value>
            <value>ietf-bcp-47</value>
            <value>otherLanguageEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.levelEncoding" a:exclude-from="eac">
      <attribute name="levelEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherLevelEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.maintenanceEventTypeEncoding">
      <attribute name="maintenanceEventTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherMaintenanceEventTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.maintenanceStatusEncoding">
      <attribute name="maintenanceStatusEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherMaintenanceStatusEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.physDescStructuredTypeEncoding" a:exclude-from="eac">
      <attribute name="physDescStructuredTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherPhysDescStructuredTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.publicationStatusEncoding">
      <attribute name="publicationStatusEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherPublicationStatusEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.repositoryEncoding">
      <attribute name="repositoryEncoding" a:defaultValue="iso15511">
         <choice>
            <value>iso15511</value>
            <value>otherRepositoryEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.scriptCode">
      <attribute name="scriptCode">
         <data type="NMTOKEN"/>
      </attribute>
   </define>
   <define name="attribute.scriptEncoding">
      <attribute name="scriptEncoding" a:defaultValue="iso15924">
         <choice>
            <value>iso15924</value>
            <value>otherScriptEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.statusEncoding">
      <attribute name="statusEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherStatusEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.targetTypeEncoding">
      <attribute name="targetTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherTargetTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <define name="attribute.unitDateTypeEncoding" a:exclude-from="eac">
      <attribute name="unitDateTypeEncoding" a:defaultValue="EASList">
         <choice>
            <value>EASList</value>
            <value>otherUnitDateTypeEncoding</value>
         </choice>
      </attribute>
   </define>
   <!-- ATTRIBUTE GROUPS -->
   <define name="attribute-group.any.zeroOrMore">
      <zeroOrMore>
         <attribute>
            <anyName>
               <except>
                  <nsName/>
                  <nsName ns=""/>
               </except>
            </anyName>
         </attribute>
      </zeroOrMore>
   </define>
   <define name="attribute-group.control-encodings">
      <optional>
         <ref name="attribute.addressTypeLineEncoding"/>
      </optional>
      <ref name="attribute.agentTypeEncoding"/>
      <optional>
         <ref name="attribute.audienceEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.contactTypeEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.countryEncoding"/>
      </optional>
      <ref name="attribute.coverageEncoding" a:exclude-from="eac"/>
      <ref name="attribute.daoTypeEncoding" a:exclude-from="eac"/>
      <optional>
         <ref name="attribute.detailLevelEncoding"/>
      </optional>
      <optional a:exclude-from="eac">
         <ref name="attribute.dscTypeEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.dateEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.languageEncoding"/>
      </optional>
      <ref name="attribute.levelEncoding" a:exclude-from="eac"/>
      <ref name="attribute.maintenanceEventTypeEncoding"/>
      <ref name="attribute.maintenanceStatusEncoding"/>
      <ref name="attribute.physDescStructuredTypeEncoding" a:exclude-from="eac"/>
      <optional>
         <ref name="attribute.publicationStatusEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.repositoryEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.scriptEncoding"/>
      </optional>
      <optional>
         <ref name="attribute.statusEncoding"/>
      </optional>
      <ref name="attribute.targetTypeEncoding"/>
      <optional a:exclude-from="eac">
         <ref name="attribute.unitDateTypeEncoding"/>
      </optional>
   </define>
   <define name="attribute-group.assertion-reference.optional"
           combine="interleave">
      <optional>
         <attribute name="maintenanceEventReference">
            <data type="IDREFS"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.assertion-reference.optional"
           combine="interleave">
      <optional>
         <attribute name="sourceReference">
            <data type="IDREFS"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.assertion-reference.optional"
           combine="interleave">
      <ref name="attribute.conventionDeclarationReference.optional"/>
   </define>
   <define name="attribute-group.container.optional" combine="interleave">
      <ref name="attribute.containerId.optional"/>
   </define>
   <define name="attribute-group.container.optional" combine="interleave">
      <ref name="attribute.encodingAnalog.optional"/>
   </define>
   <define name="attribute-group.container.optional" combine="interleave">
      <ref name="attribute.label.optional"/>
   </define>
   <define name="attribute-group.container.optional" combine="interleave">
      <ref name="attribute.parent.optional"/>
   </define>
   <define name="attribute-group.eac-document-node">
      <ref name="attribute.audience.optional"/>
      <ref name="attribute.base.optional"/>
      <ref name="attribute.id.optional"/>
      <ref name="attribute-group.lang-and-script.optional"/>
      <ref name="attribute-group.any.zeroOrMore"/>
   </define>
   <define name="attribute-group.global.optional" combine="interleave">
      <ref name="attribute.audience.optional"/>
   </define>
   <define name="attribute-group.global.optional" combine="interleave">
      <ref name="attribute.id.optional"/>
   </define>
   <define name="attribute-group.global.optional" combine="interleave">
      <ref name="attribute.target.optional"/>
   </define>
   <define name="attribute-group.global.optional" combine="interleave">
      <ref name="attribute-group.any.zeroOrMore"/>
   </define>
   <define name="attribute-group.global-plus-base.optional">
      <ref name="attribute-group.global.optional"/>
      <ref name="attribute.base.optional"/>
   </define>
   <define name="attribute-group.global-plus-base-lang-and-script.optional">
      <ref name="attribute-group.global-plus-base.optional"/>
      <ref name="attribute-group.lang-and-script.optional"/>
   </define>
   <define name="attribute-group.global-plus-lang-and-script.optional">
      <ref name="attribute-group.global.optional"/>
      <ref name="attribute-group.lang-and-script.optional"/>
   </define>
   <define name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.localType.optional"/>
   </define>
   <define name="attribute-group.lang-and-script.optional" combine="interleave">
      <optional>
         <attribute name="languageOfElement">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.lang-and-script.optional" combine="interleave">
      <optional>
         <attribute name="scriptOfElement">
            <data type="NMTOKEN"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.lang-and-script-and-conventionDeclarationReference.optional"
           combine="interleave">
      <ref name="attribute-group.lang-and-script.optional"/>
      <ref name="attribute.conventionDeclarationReference.optional"/>
   </define>
   <define name="attribute-group.localType.optional">
      <optional>
         <ref name="attribute.localType"/>
      </optional>
      <optional>
         <ref name="attribute.localTypeDeclarationReference"/>
      </optional>
   </define>
   <define name="attribute-group.language-and-script-code" combine="interleave">
      <ref name="attribute.languageCode"/>
   </define>
   <define name="attribute-group.language-and-script-code" combine="interleave">
      <optional>
         <ref name="attribute.scriptCode"/>
      </optional>
   </define>
   <define name="attribute-group.linked-data.optional">
      <interleave>
         <optional>
            <attribute name="vocabularySource">
               <data type="token"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="vocabularySourceURI">
               <data type="anyURI"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="valueURI">
               <data type="anyURI"/>
            </attribute>
         </optional>
      </interleave>
   </define>
   <define name="attribute-group.links.optional">
      <interleave>
         <optional>
            <attribute name="href">
               <data type="anyURI"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="linkRole">
               <data type="anyURI"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="linkTitle">
               <data type="token"/>
            </attribute>
         </optional>
      </interleave>
   </define>
   <define name="attribute-group.lists.optional">
      <ref name="attribute.style.optional"/>
      <optional>
         <attribute name="listType">
            <choice>
               <value a:exclude-from="eac">deflist</value>
               <value>ordered</value>
               <value>unordered</value>
            </choice>
         </attribute>
      </optional>
      <optional a:exclude-from="eac">
         <attribute name="mark">
            <choice>
               <value>circle</value>
               <value>disc</value>
               <value>inherit</value>
               <value>none</value>
               <value>square</value>
            </choice>
         </attribute>
      </optional>
      <optional a:exclude-from="eac">
         <attribute name="numeration">
            <choice>
               <value>decimal</value>
               <value>decimal-leading-zero</value>
               <value>lower-roman</value>
               <value>upper-roman</value>
               <value>lower-greek</value>
               <value>lower-latin</value>
               <value>upper-latin</value>
               <value>armenian</value>
               <value>georgian</value>
               <value>lower-alpha</value>
               <value>upper-alpha</value>
               <value>inherit</value>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.relation-children.optional">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <ref name="attribute.calendar.optional"/>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <ref name="attribute.certainty.optional"/>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <ref name="attribute.era.optional"/>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <optional>
         <attribute name="notAfter">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <optional>
         <attribute name="notBefore">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute-group.standard-date-attributes.optional"
           combine="interleave">
      <optional>
         <attribute name="standardDate">
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="attribute.group.table-separators.optional">
      <optional>
         <attribute name="colsep">
            <data type="boolean"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="rowsep">
            <data type="boolean"/>
         </attribute>
      </optional>
   </define>
</grammar>
