src/modules/extensible-version/ead/modules/models-and-shared-elements.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    
    <!-- ELEMENTS -->
   <define name="element.abbreviation">
      <element name="abbreviation">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
                <!-- this way, we don't have attributes and elements with the same name... but still, we should discuss -->
            <attribute name="expan">
               <data type="token"/>
            </attribute>
         </optional>
         <text/>
      </element>
   </define>
   <define name="element.abstract">
      <element name="abstract">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.mixed-content.optional"/>
      </element>
   </define>
   <define name="element.address">
      <element name="address">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.addressLine"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.addressLine">
      <element name="addressLine">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.addressLineType.optional"/>
         <text/>
      </element>
   </define>
   <!-- check the ordering, due to the XSD 1.0 limitations -->
   <define name="model.archDesc.levels-of-description">
      <ref name="element.did"/>
      <optional>
         <ref name="element.agents"/>
      </optional>
      <optional>
         <ref name="element.formsAvailable"/>
      </optional>
      <optional>
         <ref name="element.functions"/>
      </optional>
      <zeroOrMore>
         <ref name="model.narrative-element-name-list"/>
      </zeroOrMore>
   </define>
   <define name="element.agent">
      <element name="agent">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <oneOrMore>
            <ref name="element.agentName"/>
         </oneOrMore>
         <optional>
            <ref name="model.all-dates.choice"/>
         </optional>
         <zeroOrMore>
            <choice>
               <ref name="element.agentType"/>
               <ref name="element.agentRole"/>
               <ref name="element.relationType"/>
               <ref name="element.placeName"/>
            </choice>
         </zeroOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.agentName">
      <element name="agentName">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.agentType">
      <element name="agentType">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.agentRole">
      <element name="agentRole">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <!-- re-order once we're done with the first review...  grouping these for now since the definitions should be the same -->
   <define name="element.agents">
      <element name="agents">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.agent"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <!-- formats / format ?? or something more direct / plural-ending (rather than plural-starting) -->
   <define name="element.formsAvailable">
      <element name="formsAvailable">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.formAvailable"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.functions">
      <element name="functions">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.function"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.formAvailable">
      <element name="formAvailable">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
            <ref name="element.abstract"/>
         </optional>
         <ref name="model.narrative-group.optional"/>
         <zeroOrMore>
            <ref name="element.relation"/>
         </zeroOrMore>
      </element>
   </define>
   <!-- regroup what's above later on -->
   <define name="element.biogHist">
      <element name="biogHist">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="element.head.optional"/>
         <optional>
            <ref name="element.abstract"/>
         </optional>
         <ref name="model.narrative-group.optional"/>
      </element>
   </define>
   <define name="element.citedRange">
      <element name="citedRange">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute.unit.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.contact">
      <element name="contact">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.contactLine"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.contactLine">
      <element name="contactLine">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.links.optional"/>
         <ref name="attribute.contactLineType.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.date">
      <element name="date">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.unknown.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.dateRange">
      <element name="dateRange">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <choice>
            <group>
               <ref name="element.fromDate"/>
               <optional>
                  <ref name="element.toDate"/>
               </optional>
            </group>
            <group>
               <ref name="element.toDate"/>
            </group>
         </choice>
      </element>
   </define>
   <define name="element.dateSet">
      <element name="dateSet">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.date-dateRange.choice"/>
         <oneOrMore>
            <ref name="model.date-dateRange.choice"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.descriptiveNote.optional">
      <optional>
         <element name="descriptiveNote">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <oneOrMore>
               <ref name="element.p"/>
            </oneOrMore>
         </element>
      </optional>
   </define>
   <define name="element.event">
      <element name="event">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.mixed-content.optional"/>
      </element>
   </define>
   <define name="element.expansion">
      <element name="expansion">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
                <!-- this way, we don't have attributes and elements with the same name... but still, we should discuss -->
            <attribute name="abbr">
               <data type="token"/>
            </attribute>
         </optional>
         <text/>
      </element>
   </define>
   <define name="element.foreign">
      <element name="foreign">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.formattingExtension.optional">
      <optional>
         <element name="formattingExtension">
            <ref name="attribute-group.global.optional"/>
            <oneOrMore>
               <ref name="element.anyHTML"/>
            </oneOrMore>
         </element>
      </optional>
   </define>
   <define name="element.anyHTML">
      <element ns="http://www.w3.org/1999/xhtml">
         <anyName/>
         <ref name="attribute-group.any.zeroOrMore"/>
         <mixed>
            <zeroOrMore>
               <ref name="element.anyHTML" ns="http://www.w3.org/1999/xhtml"/>
            </zeroOrMore>
         </mixed>
      </element>
   </define>
   <define name="element.fromDate">
      <element name="fromDate">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.unknown.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.geographicCoordinates">
      <element name="geographicCoordinates">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.coordinateSystem"/>
         <data type="normalizedString"/>
      </element>
   </define>
   <define name="element.head.optional">
      <optional>
         <element name="head">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="model.mixed-content-no-references.optional"/>
         </element>
      </optional>
   </define>
   <define name="element.language">
      <element name="language">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
            <ref name="attribute.languageCode"/>
         </optional>
         <text/>
      </element>
   </define>
   <define name="element.lineBreak">
      <element name="lineBreak">
         <ref name="attribute-group.global.optional"/>
         <empty/>
      </element>
   </define>
   <define name="element.objectXMLWrap.optional">
      <optional>
         <element name="objectXMLWrap">
            <ref name="attribute-group.global.optional"/>
            <ref name="model.any-element"/>
         </element>
      </optional>
   </define>
   <define name="element.p">
      <element name="p">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.mixed-content.optional"/>
      </element>
   </define>
   <define name="element.part">
      <element name="part">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="dt.non-empty-element-with-newlines-available"/>
      </element>
   </define>
   <define name="element.place">
      <element name="place">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <choice>
               <ref name="element.placeName"/>
               <ref name="element.placeRole"/>
               <ref name="element.geographicCoordinates"/>
               <ref name="element.address"/>
               <ref name="element.contact"/>
            </choice>
         </oneOrMore>
         <optional>
            <ref name="model.all-dates.choice"/>
         </optional>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.placeName">
      <element name="placeName">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.countryCode.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.placeRole">
      <element name="placeRole">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.reference">
      <element name="reference">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.links.optional"/>
         <zeroOrMore>
            <choice>
               <ref name="element.referringString"/>
               <ref name="element.span"/>
               <text/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="element.span">
      <element name="span">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.style.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.term">
      <element name="term">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.toDate">
      <element name="toDate">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.ongoing-or-unknown.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.writingSystem">
      <element name="writingSystem">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
            <ref name="attribute.scriptCode"/>
         </optional>
         <text/>
      </element>
   </define>
   <!-- MODELS -->
   <define name="model.all-dates.choice">
      <choice>
         <ref name="element.date"/>
         <ref name="element.dateRange"/>
         <ref name="element.dateSet"/>
      </choice>
   </define>
   <define name="model.any-element">
      <element>
         <anyName>
            <except>
               <nsName ns="https://archivists.org/ns/ead/v4" a:exclude-from="eac"/>
            </except>
         </anyName>
         <zeroOrMore>
            <attribute>
               <anyName/>
            </attribute>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="model.any-element"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="model.date-dateRange.choice">
      <choice>
         <ref name="element.date"/>
         <ref name="element.dateRange"/>
      </choice>
   </define>
   <define name="model.declaration-group">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="element.reference"/>
      <optional>
         <ref name="element.shortCode"/>
      </optional>
      <ref name="element.descriptiveNote.optional"/>
   </define>
   <define name="model.ead-narrative-elements">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <ref name="element.head.optional"/>
      <optional>
         <ref name="element.abstract"/>
      </optional>
      <ref name="model.narrative-group.optional"/>
   </define>
   <!-- note: this will continue to simplify, once table is removed, etc... for bibliography (now 'publicationNote'), otherFindAid, separatedMaterial, and relatedMaterial.... rename it to something that makes sense, and remodel it -->
   <define name="model.ead-narrative-elements-PLUS">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="element.head.optional"/>
      <optional>
         <ref name="element.abstract"/>
      </optional>
      <ref name="model.narrative-group.optional"/>
   </define>
   <define name="model.mixed-content.optional">
      <zeroOrMore>
         <choice>
            <ref name="element.reference"/>
            <ref name="element.referringString"/>
            <ref name="element.span"/>
            <text/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="model.mixed-content-no-references.optional">
      <zeroOrMore>
         <choice>
            <ref name="element.referringString"/>
            <ref name="element.span"/>
            <text/>
         </choice>
      </zeroOrMore>
   </define>
   <!-- removing list, with more elements to follow-->
   <define name="model.narrative-group.optional" combine="interleave">
      <zeroOrMore>
         <ref name="element.formattingExtension.optional"/>
      </zeroOrMore>
   </define>
   <define name="model.narrative-group.optional" combine="interleave">
      <zeroOrMore>
         <ref name="element.p"/>
      </zeroOrMore>
   </define>
   <!-- where to add num, footnote, and ??? -->
   <!-- just EAC currently -->
   <define name="model.single-element-group">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <oneOrMore>
         <ref name="element.term"/>
      </oneOrMore>
      <optional>
         <ref name="model.all-dates.choice"/>
      </optional>
      <zeroOrMore>
         <ref name="element.placeName"/>
      </zeroOrMore>
      <ref name="element.descriptiveNote.optional"/>
   </define>
</grammar>
