src/modules/extensible-version/ead/modules/models-and-shared-elements.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    
    <!-- ELEMENTS -->
   <define name="element.abstract">
      <element name="abstract">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.mixed-content.optional"/>
      </element>
   </define>
   <define name="element.address">
      <element name="address">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.addressLine"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.addressLine">
      <element name="addressLine">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.addressLineType.optional"/>
         <text/>
      </element>
   </define>
   <!-- check the ordering, due to the XSD 1.0 limitations -->
   <define name="model.archDesc.levels-of-description">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="attribute.level.optional"/>
      <ref name="element.identificationData"/>
      <optional>
         <ref name="element.agents"/>
      </optional>
      <optional>
         <ref name="element.formsAvailable"/>
      </optional>
      <optional>
         <ref name="element.functions"/>
      </optional>
      <optional>
         <ref name="element.places"/>
      </optional>
      <zeroOrMore>
         <ref name="model.narrative-element-name-list"/>
      </zeroOrMore>
   </define>
   <define name="model.narrative-element-name-list">
      <oneOrMore>
         <choice>
            <ref name="element.accessConditions"/>
            <ref name="element.accruals"/>
            <ref name="element.appraisal"/>
            <ref name="element.arrangement"/>
            <ref name="element.biogHist"/>
            <ref name="element.custodHist"/>
            <ref name="element.filePlan"/>
            <ref name="element.otherDescriptiveInfo"/>
            <ref name="element.otherFindAid"/>
            <ref name="element.preferCite"/>
            <ref name="element.processInfo"/>
            <ref name="element.publicationNote"/>
            <ref name="element.relatedMaterial"/>
            <ref name="element.scopeContent"/>
            <ref name="element.separatedMaterial"/>
            <ref name="element.sourceOfAcquisition"/>
            <ref name="element.subjectHeadings"/>
            <ref name="element.useConditions"/>
         </choice>
      </oneOrMore>
   </define>
   <define name="element.agent">
      <element name="agent">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute.agentType.optional"/>
         <ref name="model.ead-entity-elements"/>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.agentRole">
      <element name="agentRole">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <!-- re-order once we're done with the first review...  grouping these for now since the definitions should be the same -->
   <define name="element.agents">
      <element name="agents">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.agent"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.functions">
      <element name="functions">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.function"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.places">
      <element name="places">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.place"/>
         </oneOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <!-- regroup what's above later on -->
   <!-- can this be combined now??? I did. Fix, if needed, after checking with EAC -->
   <define name="element.biogHist">
      <element name="biogHist">
            <!-- note the EAC impact. the goal is no differences, but so we might need to add provenanceEvent to EAC, or 
            remove biogHist from EAD ? -->
         <ref name="model.ead-narrative-elements-plus-provenanceEvent"/>
      </element>
   </define>
   <define name="element.citedRange">
      <element name="citedRange">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <!-- confirm if we're adding to EAC, as well, though I assume we would be -->
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.unit.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.contact">
      <element name="contact">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <oneOrMore>
            <ref name="element.contactLine"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.contactLine">
      <element name="contactLine">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.links.optional"/>
         <ref name="attribute.contactLineType.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.date">
      <element name="date">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.optional" a:exclude-from="eac"/>
         <text/>
      </element>
   </define>
   <define name="element.dateRange">
      <element name="dateRange">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <choice>
            <group>
               <ref name="element.fromDate"/>
               <optional>
                  <ref name="element.toDate"/>
               </optional>
            </group>
            <group>
               <ref name="element.toDate"/>
            </group>
         </choice>
      </element>
   </define>
   <define name="element.dateSet">
      <element name="dateSet">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.date-dateRange.choice"/>
         <oneOrMore>
            <ref name="model.date-dateRange.choice"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.descriptiveNote.optional">
      <optional>
         <element name="descriptiveNote">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <oneOrMore>
               <ref name="element.p"/>
            </oneOrMore>
            <ref name="element.objectXMLWrap.optional"/>
         </element>
      </optional>
   </define>
   <define name="element.formattingExtension">
      <element name="formattingExtension">
         <ref name="attribute-group.global.optional"/>
         <oneOrMore>
            <ref name="element.any"/>
         </oneOrMore>
      </element>
   </define>
   <define name="element.any">
      <element>
         <anyName>
            <except>
               <nsName/>
               <nsName ns=""/>
            </except>
         </anyName>
         <ref name="attribute-group.any.zeroOrMore"/>
         <mixed>
            <zeroOrMore>
               <ref name="element.any"/>
            </zeroOrMore>
         </mixed>
      </element>
   </define>
   <define name="element.fromDate">
      <element name="fromDate">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.optional" a:exclude-from="eac"/>
         <text/>
      </element>
   </define>
   <define name="element.function">
      <element name="function">
         <ref name="attribute-group.global-plus-lang-and-script.optional"
              a:exclude-from="eac"/>
         <ref name="attribute-group.linked-data.optional" a:exclude-from="eac"/>
         <ref name="attribute-group.assertion-reference.optional"
              a:exclude-from="eac"/>
         <ref name="attribute.functionType.optional"/>
         <ref name="model.ead-entity-elements" a:exclude-from="eac"/>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.geographicCoordinates">
      <element name="geographicCoordinates">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.coordinateSystem"/>
         <data type="normalizedString"/>
      </element>
   </define>
   <define name="element.head.optional">
      <optional>
         <element name="head">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="model.mixed-content.optional"/>
         </element>
      </optional>
   </define>
   <define name="element.label">
      <element name="label">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.language">
      <element name="language">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
            <ref name="attribute.languageCode"/>
         </optional>
         <text/>
      </element>
   </define>
   <define name="element.legalStatus">
      <element name="legalStatus">
         <ref name="model.single-element-group"/>
      </element>
   </define>
   <define name="element.objectXMLWrap.optional">
      <optional>
         <element name="objectXMLWrap">
            <ref name="attribute-group.global.optional"/>
            <ref name="model.any-element"/>
         </element>
      </optional>
   </define>
   <define name="element.p">
      <element name="p">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="model.mixed-content.optional"/>
      </element>
   </define>
   <define name="element.part">
      <element name="part">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="dt.non-empty-element-with-newlines-available"/>
      </element>
   </define>
   <define name="element.place" combine="interleave">
      <element name="place">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.placeType.optional"/>
         <oneOrMore>
            <ref name="element.label"/>
         </oneOrMore>
         <optional>
            <ref name="model.all-dates.choice"/>
         </optional>
         <zeroOrMore>
            <ref name="element.role"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="element.relationship"/>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <ref name="element.address"/>
               <ref name="element.contact"/>
               <ref name="element.geographicCoordinates"/>
            </choice>
         </zeroOrMore>
         <ref name="element.descriptiveNote.optional"/>
      </element>
   </define>
   <define name="element.placeName">
      <element name="placeName">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.countryCode.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.reference">
      <element name="reference">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.links.optional"/>
         <zeroOrMore>
            <choice>
               <ref name="element.referringString"/>
               <ref name="element.span"/>
               <text/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="element.role">
      <element name="role">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.linked-data.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.span">
      <element name="span">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute.style.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.term">
      <element name="term">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <text/>
      </element>
   </define>
   <define name="element.toDate">
      <element name="toDate">
         <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <ref name="attribute-group.standard-date-attributes.optional"/>
         <ref name="attribute.status.optional" a:exclude-from="eac"/>
         <text/>
      </element>
   </define>
   <define name="element.writingSystem">
      <element name="writingSystem">
         <ref name="attribute-group.global-plus-lang-and-script.optional"/>
         <ref name="attribute-group.assertion-reference.optional"/>
         <optional>
            <ref name="attribute.scriptCode"/>
         </optional>
         <text/>
      </element>
   </define>
   <!-- MODELS -->
   <define name="model.all-dates.choice">
      <choice>
         <ref name="element.date"/>
         <ref name="element.dateRange"/>
         <ref name="element.dateSet"/>
      </choice>
   </define>
   <define name="model.any-element">
      <element>
         <anyName>
            <except>
               <nsName ns="https://archivists.org/ns/ead/v4" a:exclude-from="eac"/>
            </except>
         </anyName>
         <zeroOrMore>
            <attribute>
               <anyName/>
            </attribute>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="model.any-element"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="model.date-dateRange.choice">
      <choice>
         <ref name="element.date"/>
         <ref name="element.dateRange"/>
      </choice>
   </define>
   <define name="model.declaration-group">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="element.reference"/>
      <optional>
         <ref name="element.shortCode"/>
      </optional>
      <ref name="element.descriptiveNote.optional"/>
   </define>
   <define name="model.ead-entity-elements" combine="interleave">
      <oneOrMore>
         <ref name="element.label"/>
      </oneOrMore>
      <optional>
         <ref name="model.all-dates.choice"/>
      </optional>
      <zeroOrMore>
         <ref name="element.placeName"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="element.role"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="element.relationship"/>
      </zeroOrMore>
   </define>
   <define name="model.ead-narrative-elements">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <optional>
         <ref name="element.abstract"/>
      </optional>
      <ref name="model.narrative-group.optional"/>
   </define>
   <define name="model.ead-narrative-elements-plus-provenanceEvent">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <optional>
         <ref name="element.abstract"/>
      </optional>
      <zeroOrMore>
         <ref name="element.provenanceEvent"/>
      </zeroOrMore>
      <ref name="model.narrative-group.optional"/>
   </define>
   <!-- note: this will continue to simplify, once table is removed, etc... for bibliography (now 'publicationNote'), otherFindAid, separatedMaterial, and relatedMaterial.... rename it to something that makes sense, and remodel it -->
   <define name="model.ead-narrative-elements-plus-relations">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <optional>
         <ref name="element.abstract"/>
      </optional>
      <ref name="model.narrative-group.optional"/>
      <optional>
         <ref name="element.relations"/>
      </optional>
   </define>
   <define name="model.ead-dimensions-extent">
      <choice>
         <group>
            <element name="quantity">
               <ref name="attribute-group.global-plus-lang-and-script.optional"/>
               <ref name="attribute-group.assertion-reference.optional"/>
               <ref name="attribute.approximate.optional"/>
               <text/>
            </element>
            <optional>
               <element name="unitOfMeasurement">
                  <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                  <ref name="attribute-group.assertion-reference.optional"/>
                  <ref name="attribute-group.linked-data.optional"/>
                  <text/>
               </element>
            </optional>
         </group>
         <group>
            <element name="unitOfMeasurement">
               <ref name="attribute-group.global-plus-lang-and-script.optional"/>
               <ref name="attribute-group.assertion-reference.optional"/>
               <ref name="attribute-group.linked-data.optional"/>
               <text/>
            </element>
         </group>
      </choice>
   </define>
   <!-- new... reorder / model, once finalized -->
   <define name="model.ead-formAvailable">
      <ref name="attribute-group.global-plus-lang-and-script.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="attribute.coverage.optional"/>
      <ref name="attribute.formAvailableType.optional"/>
      <!-- order based on design principle, namely:https://github.com/SAA-SDT/TS-EAS-subteam-notes/blob/master/schemas-subteam/working-documents/20210112_ElementsOrder_Final_EAC-CPF.pdf-->
      <oneOrMore>
         <ref name="element.label"/>
      </oneOrMore>
      <optional>
         <ref name="model.all-dates.choice"/>
      </optional>
      <optional>
         <ref name="element.relations"/>
      </optional>
      <zeroOrMore>
         <choice>
            <ref name="element.container"/>
            <ref name="element.dimensions"/>
            <ref name="element.extent"/>
            <ref name="element.formAvailableId"/>
            <ref name="element.physFacet"/>
            <ref name="element.placeName"/>
            <ref name="element.role"/>
            <!-- also narrative notes, but just these...-->
            <ref name="element.accessConditions"/>
            <ref name="element.accruals"/>
            <ref name="element.arrangement"/>
            <ref name="element.custodHist"/>
            <ref name="element.physicalOrTechnicalRequirements"/>
            <ref name="element.processInfo"/>
            <ref name="element.separatedMaterial"/>
            <ref name="element.sourceOfAcquisition"/>
            <ref name="element.useConditions"/>
         </choice>
      </zeroOrMore>
      <ref name="element.descriptiveNote.optional"/>
   </define>
   <define name="model.mixed-content.optional">
      <zeroOrMore>
         <choice>
            <ref name="element.reference"/>
            <ref name="element.referringString"/>
            <ref name="element.span"/>
            <text/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="model.mixed-content-no-references.optional">
      <zeroOrMore>
         <choice>
            <ref name="element.referringString"/>
            <ref name="element.span"/>
            <text/>
         </choice>
      </zeroOrMore>
   </define>
   <!-- removing list, with more elements to follow-->
   <define name="model.narrative-group.optional" combine="choice">
      <optional>
         <ref name="element.formattingExtension"/>
      </optional>
   </define>
   <define name="model.narrative-group.optional" combine="choice">
      <zeroOrMore>
         <ref name="element.p"/>
      </zeroOrMore>
   </define>
   <!-- where to add num, footnote, and ??? -->
   <!-- just EAC currently -->
   <define name="model.single-element-group">
      <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
      <ref name="attribute-group.linked-data.optional"/>
      <ref name="attribute-group.assertion-reference.optional"/>
      <!-- if this goes, we can remove 'term' entirely -->
      <oneOrMore>
         <ref name="element.term"/>
      </oneOrMore>
      <optional>
         <ref name="model.all-dates.choice"/>
      </optional>
      <zeroOrMore>
         <ref name="element.placeName"/>
      </zeroOrMore>
      <ref name="element.descriptiveNote.optional"/>
   </define>
</grammar>
