src/modules/ead-archDesc.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    
    <!-- to do:     
        review label attribute
                localType
                etc.
        
        create some updated matrices and use those to refine the existing models... but perhaps wait until more decisions are made? 
                etc.
        
        create separate files for different modesl (e.g. CALS Table, etc.)
        
    -->
    
    <!-- ELEMENTS -->    
    <define name="element.accessConditions">
        <element name="accessConditions">
            <ref name="model.ead-narrative-elements"/>
            <ref name="attribute-group.linked-data.optional"/>
        </element>
    </define>
    
    <define name="element.accruals">
        <element name="accruals">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.acqInfo">
        <element name="acqInfo">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.altFormAvail">
        <element name="altFormAvail">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.appraisal">
        <element name="appraisal">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.archDesc">
        <element name="archDesc">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <!-- EAD3 already signaled the move to a single DSC, right? -->
            <optional>
                <ref name="element.dsc"/>
            </optional>
        </element>
    </define>
    
    <define name="element.arrangement">
        <element name="arrangement">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
     
    <define name="element.c">
        <element name="c">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c01">
        <element name="c01">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c02"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c02">
        <element name="c02">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c03"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c03">
        <element name="c03">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c04"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c04">
        <element name="c04">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c05"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c05">
        <element name="c05">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c06"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c06">
        <element name="c06">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c07"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c07">
        <element name="c07">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c08"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c08">
        <element name="c08">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c09"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c09">
        <element name="c09">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c10"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c10">
        <element name="c10">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c11"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c11">
        <element name="c11">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="element.c12"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.c12">
        <element name="c12">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="element.did"/>
            <zeroOrMore>
                <ref name="model.narrative-element-name-list"/>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="element.container">
        <element name="container">
            <!-- do we need lang and script for containers??? -->
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.container.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="model.ead.mixed-content"/>
            <!-- agree that mixed content is no longer needed here, right? 
            <text/> 
            -->
        </element>
    </define>
    
    <define name="element.controlAccess">
        <element name="controlAccess">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="element.head.optional"/>
            <oneOrMore>
                <choice>
                    <!-- if we keep all this, right?  if not, then we'd just have oneOrMore controlaccess elements? -->
                    <ref name="model.narrative-group.optional"/>
                    <ref name="model.controlAccess-element-name-list"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.corpName">
        <element name="corpName">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.custodHist">
        <element name="custodHist">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
     
    <define name="element.did">
        <element name="did">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="element.container"/>
                    <ref name="element.dao"/>
                    <ref name="element.daoSet"/>
                    <ref name="element.didNote"/>
                    <ref name="element.langMaterial"/>
                    <ref name="element.materialSpec"/>
                    <ref name="element.origination"/>
                    <ref name="element.physDescSet"/>
                    <ref name="element.physDesc"/>
                    <ref name="element.physDescStructured"/>
                    <ref name="element.physLoc"/>
                    <ref name="element.repository"/>
                    <ref name="element.unitDate"/>
                    <ref name="element.unitDateStructured"/>
                    <ref name="element.unitId"/>
                    <ref name="element.unitTitle"/>
                </choice> 
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.dao">
        <element name="dao">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>  
            <ref name="attribute.label.optional"/>
            <ref name="attribute-group.links.optional"/>
            <attribute name="daoType">
                <data type="token"/>
            </attribute>
            <optional>
                <attribute name="otherDaoType">
                    <data type="token"/>
                </attribute>
            </optional>
            <optional>
                <ref name="attribute.coverage"/>
            </optional>
            <ref name="element.descriptiveNote.optional"/>
        </element>
    </define>
    
    <define name="element.daoSet">
        <element name="daoSet">
            <ref name="attribute-group.global.optional"/>
            <ref name="element.dao"/>
            <oneOrMore>
                <ref name="element.dao"/>
            </oneOrMore>
            <ref name="element.descriptiveNote.optional"/>
        </element>
    </define>
    
    <!-- removed head, just as i removed thead from the c elements... okay??? -->
    <define name="element.dsc">
        <element name="dsc">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="element.c"/>
                    <ref name="element.c01"/>
                </choice>
            </oneOrMore>
        </element>
    </define>

    <define name="element.didNote">
        <element name="didNote">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <oneOrMore>
                <ref name="element.p"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.dimensions">
        <element name="dimensions">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <!-- what else follows this model? -->
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.famName">
        <element name="famName">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.filePlan">
        <element name="filePlan">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.footnote">
        <element name="footnote">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <!-- note:  currently missing @show and @actuate, since those weren't part of EAC style links. -->
            <ref name="model.narrative-group.optional"/>
        </element>
    </define>
    
    <!-- placeholder for element.formsAvailable , which will also get
        <ref name="attribute-group.linked-data.optional"/> -->
    
    <define name="element.function">
        <element name="function">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.genreForm">
        <element name="genreForm">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.geogName">
        <element name="geogName">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.index">
        <element name="index">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <!-- EAD:
            blockquote, chronlist, head, index, indexentry, list, listhead, p, table
            
            let's use the same, minux index and listhead.
            -->
            <ref name="element.head.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="model.narrative-group.optional"/>
                    <ref name="element.indexEntry"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.indexEntry">
        <element name="indexEntry">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <!-- EAD3:
                corpname, famname, function, genreform, geogname, indexentry, 
                name, namegrp, occupation, persname, ptr, ptrgrp, ref, subject, title
                -->
            <ref name="model.ead.grp-elements-plus-controlAccess"/>
        </element>
    </define>
    
    <define name="element.langMaterial">
        <element name="langMaterial">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute.label.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="element.language"/>
                    <ref name="element.languageSet"/>
                </choice>
            </oneOrMore>
            <ref name="element.descriptiveNote.optional"/>
            <text/>
        </element>
    </define>
    
    <define name="element.languageSet">
        <element name="languageSet">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <oneOrMore>
                <ref name="element.language"/>
            </oneOrMore>
            <oneOrMore>
                <ref name="element.writingSystem"/>
            </oneOrMore>
            <ref name="element.descriptiveNote.optional"/>
        </element>
    </define>
    
    <define name="element.lb">
        <element name="lb">
            <ref name="attribute-group.global.optional"/>
            <empty/>
        </element>
    </define>
    
    <define name="element.legalStatus">
        <element name="legalStatus">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.materialSpec">
        <element name="materialSpec">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.name">
        <element name="name">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.nameGrp">
        <element name="nameGrp">
            <ref name="attribute-group.global.optional"/>
            <ref name="model.controlAccess-element-name-list"/>
            <oneOrMore>
                <ref name="model.controlAccess-element-name-list"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.num">
        <element name="num">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.occupation">
        <element name="occupation">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.odd">
        <element name="odd">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.originalsLoc">
        <element name="orginalsLoc">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.origination">
        <element name="origination">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute.label.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="element.corpName"/>
                    <ref name="element.famName"/>
                    <ref name="element.name"/>
                    <ref name="element.persName"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.otherFindAid">
        <element name="otherFindAid">
            <ref name="model.ead-narrative-elements-PLUS"/>
        </element>
    </define>
    
    <define name="element.persName">
        <element name="persName">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.physDesc">
        <element name="physDesc">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.physDescSet">
        <element name="physDescSet">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="element.physDescStructured"/>
            <oneOrMore>
                <ref name="element.physDescStructured"/>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.physDescStructured">
        <element name="physDescStructured">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <element name="quantity">
                <ref name="attribute-group.global-plus-base.optional"/>
                <ref name="attribute-group.assertion-reference.optional"/>
                <text/>
            </element>
            <element name="unitType">
                <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
                <ref name="attribute-group.assertion-reference.optional"/>
                <ref name="attribute-group.linked-data.optional"/>
                <text/>
            </element>
            <zeroOrMore>
                <choice>
                    <ref name="element.physFacet"/>
                    <ref name="element.dimensions"/>
                </choice>
            </zeroOrMore>
            <ref name="element.descriptiveNote.optional"/>
        </element>
    </define>
    
    <define name="element.physFacet">
        <element name="physFacet">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="model.ead.mixed-content-plus-controlAccess-plusDFNQ"/>
        </element>
    </define>
    
    <define name="element.physLoc">
        <element name="physLoc">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.physTech">
        <element name="physTech">
            <!-- why does this have the same model as biogHist, etc? -->
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.preferCite">
        <element name="preferCite">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.processInfo">
        <element name="processInfo">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <!-- not needed for long, right? -->
    <!-- that said, it would be good to keep the XPointer standard around separately? -->
    <define name="element.ptr">
        <element name="ptr">
            <ref name="attribute-group.global.optional"/>
            <empty/>
        </element>
    </define>
    
    <!-- redefine if we keep -->
    <define name="element.ptrGrp">
        <element name="ptrGrp">
            <ref name="attribute-group.global.optional"/>
            <choice>
                <ref name="element.ptr"/>
                <ref name="element.reference"/>
            </choice>
            <oneOrMore>
                <choice>
                    <ref name="element.ptr"/>
                    <ref name="element.reference"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.publicationNote">
        <element name="publicationNote">
            <ref name="model.ead-narrative-elements-PLUS"/>
        </element>
    </define>
    
    <define name="element.quote">
        <element name="quote">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <!-- on span... quote... and what else?  -->
            <!-- also, uggh... if we just go with html, then quote will be q, and less transformations required -->
            <ref name="attribute.style.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.referringString">
        <element name="referringString">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <text/>
        </element>
    </define>
    
    <define name="element.relatedMaterial">
        <element name="relatedMaterial">
            <ref name="model.ead-narrative-elements-PLUS"/>
        </element>
    </define>
    
    <define name="element.repository">
        <element name="repository">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <oneOrMore>
                <choice>
                    <ref name="element.corpName"/>
                    <ref name="element.famName"/>
                    <ref name="element.name"/>
                    <ref name="element.persName"/>
                </choice>
            </oneOrMore>
            <optional>
                <ref name="element.address"/>
            </optional>
        </element>
    </define>
    
    <define name="element.row">
        <element name="row">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <optional>
                <attribute name="rowsep">
                    <data type="boolean"/>
                </attribute>
            </optional>
            <optional>
                <attribute name="valign">
                    <choice>
                        <value>top</value>
                        <value>middle</value>
                        <value>bottom</value>
                    </choice>
                </attribute>
            </optional>
            <oneOrMore>
                <element name="entry">
                    <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
                    <optional>
                        <attribute name="colname">
                            <data type="NMTOKEN"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="namest">
                            <data type="NMTOKEN"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="nameend">
                            <data type="NMTOKEN"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="morerows">
                            <data type="NMTOKEN"/>
                        </attribute>
                    </optional>
                    <ref name="attribute.group.table-separators.optional"/>
                    <optional>
                        <attribute name="align">
                            <choice>
                                <value>left</value>
                                <value>right</value>
                                <value>center</value>
                                <value>justify</value>
                                <value>char</value>
                            </choice>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="char"/>
                    </optional>
                    <optional>
                        <attribute name="charoff">
                            <data type="NMTOKEN"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="valign">
                            <choice>
                                <value>top</value>
                                <value>middle</value>
                                <value>bottom</value>
                            </choice>
                        </attribute>
                    </optional>
                    <zeroOrMore>
                        <!-- 
                        EAD2002
                        [text], abbr, address, archref, bibref, corpname, date, emph, expan, extptr, extref, 
                        famname, function, genreform, geogname, lb, linkgrp, list, name, note, num, occupation, 
                        origination, persname, ptr, ref, repository, subject, title, unitdate, unittitle
                        
                        EAD3 (same as unittitle, in other words).
                        [text], abbr, corpname, date, emph, expan, famname, footnote, foreign, function, genreform, 
                        geogname, lb, list, name, num, occupation, persname, ptr, quote, ref, subject, title
                        -->
                        <ref name="model.ead.mixed-content-plus-controlAccess-plusDFNQ"/>
                    </zeroOrMore>
                </element>
            </oneOrMore>
        </element>
    </define>
    
    <define name="element.scopeContent">
        <element name="scopeContent">
            <ref name="model.ead-narrative-elements"/>
        </element>
    </define>
    
    <define name="element.separatedMaterial">
        <element name="separatedMaterial">
            <ref name="model.ead-narrative-elements-PLUS"/>
        </element>
    </define>
    
    <define name="element.subject">
        <element name="subject">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.title">
        <element name="title">
            <ref name="model.controlAccess-element-group"/>
        </element>
    </define>
    
    <define name="element.unitDate">
        <element name="unitDate">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute.label.optional"/>
            <ref name="attribute.unitDateType.optional"/>
            <ref name="attribute.dateChar.optional"/>
            <!-- also bundled together with more attributes for EAC / unidatestructured.
                for ead4, we should get rid of the structured elements altogether and have a single element that 
                can be more or less structured depending on sub-elements / attributes.  for now, we've got a mix
                hence we cannot re-use some of our pre-defined attribute lists just yet.
            but if we keep the EAD/C separation + UD/UDS separation, then we can combine these 3 attribues with the 4 above for another attribute group model-->
            <ref name="attribute.calendar.optional"/>
            <ref name="attribute.certainty.optional"/>
            <ref name="attribute.era.optional"/>

            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.unitDateStructured">
        <element name="unitDateStructured">
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute.label.optional"/>
            <ref name="attribute.unitDateType.optional"/>
            <ref name="attribute.dateChar.optional"/>
            <!-- also bundled together with more attributes for EAC / unidatestructured.
                for ead4, we should get rid of the structured elements altogether and have a single element that 
                can be more or less structured depending on sub-elements / attributes.  for now, we've got a mix
                hence we cannot re-use some of our pre-defined attribute lists just yet.
            but if we keep the EAD/C separation + UD/UDS separation, then we can combine these 3 attribues with the 4 above for another attribute group model-->
            <ref name="attribute.calendar.optional"/>
            <ref name="attribute.certainty.optional"/>
            <ref name="attribute.era.optional"/>

            <ref name="model.all-dates.choice"/>
        </element>
    </define>
     
    <define name="element.unitId">
        <element name="unitId">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute.label.optional"/>
            <ref name="attribute.countryCode.optional"/>
            <ref name="attribute.repositoryCode.optional"/>
            <ref name="model.ead.mixed-content"/>
        </element>
    </define>
    
    <define name="element.unitTitle">
        <element name="unitTitle">
            <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
            <ref name="attribute-group.assertion-reference.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <ref name="attribute.label.optional"/>
            <ref name="model.ead.mixed-content-plus-controlAccess-plusDFNQ"/>
        </element>
    </define>
    
    <define name="element.useConditions">
        <element name="useConditions">
            <ref name="model.ead-narrative-elements"/>
            <ref name="attribute-group.linked-data.optional"/>
        </element>
    </define>
    
    
    <!-- MODELS -->
    
    <!-- add term, and model after EAD3 -->
    <!-- also add to mixed content -->
    <!-- and add to whereever EAD allows this...  abstract, p, item, entry, and event -->
    <!-- still need to add the following to some of models
            date

       -->
    <define name="model.controlAccess-element-name-list">
        <choice>
            <ref name="element.corpName"/>
            <ref name="element.famName"/>
            <ref name="element.function"/>
            <ref name="element.genreForm"/>
            <ref name="element.geogName"/>
            <ref name="element.name"/>
            <ref name="element.occupation"/>
            <ref name="element.persName"/>
            <ref name="element.subject"/>
            <ref name="element.title"/>
        </choice>
    </define>
    
    <define name="model.controlAccess-element-group">
        <ref name="attribute-group.global-plus-lang-and-script.optional"/>
        <ref name="attribute-group.linked-data.optional"/>
        <ref name="attribute-group.assertion-reference.optional"/>
        <oneOrMore>
            <ref name="element.part"/>
        </oneOrMore>
        <!-- now, available outside of the "relation" element. -->
        <zeroOrMore>
            <ref name="element.targetRole"/>
        </zeroOrMore>
    </define>
    
    <define name="model.ead.grp-elements-plus-controlAccess">
        <zeroOrMore>
            <choice>
                <ref name="element.nameGrp"/>
                <ref name="element.ptrGrp"/>
                <ref name="element.ptr"/>
                <ref name="element.reference"/>
                <ref name="model.controlAccess-element-name-list"/>
            </choice>
        </zeroOrMore>
    </define>
    
    <define name="model.ead.mixed-content">
        <!-- assuming that we're replacing emph with span, and expanding the names of the rest of elements -->
        <zeroOrMore>
            <choice>
                <ref name="element.abbreviation"/>
                <ref name="element.expansion"/>
                <ref name="element.foreign"/>
                <ref name="element.lb"/>
                <ref name="element.ptr"/>
                
                <ref name="element.reference"/>
                <ref name="element.referringString"/>
                <ref name="element.span"/>
                <text/>
            </choice>
        </zeroOrMore>
    </define>
    
    <define name="model.ead.mixed-content-plus-controlAccess">
        <zeroOrMore>
            <choice>
                <ref name="model.ead.mixed-content"/>
                <ref name="model.controlAccess-element-name-list"/>
            </choice>
        </zeroOrMore>
    </define>
    
    <!-- hopefully we don't keep this long... if so, replace the name with something that makes sense -->
    <define name="model.ead.mixed-content-plus-controlAccess-plusDFNQ">
        <zeroOrMore>
            <choice>
                <ref name="model.ead.mixed-content-plus-controlAccess"/>
                <ref name="element.date"/>
                <ref name="element.footnote"/>
                <ref name="element.num"/>
                <ref name="element.quote"/>
            </choice>
        </zeroOrMore>
    </define>
    

    <define name="model.narrative-element-name-list">
        <oneOrMore>
            <choice>
                <ref name="element.accessConditions"/>
                <ref name="element.accruals"/>
                <ref name="element.acqInfo"/>
                <ref name="element.altFormAvail"/>
                <ref name="element.appraisal"/>
                <ref name="element.arrangement"/>
                <ref name="element.biogHist"/>
                <ref name="element.controlAccess"/>
                <ref name="element.custodHist"/>
                <ref name="element.filePlan"/>
                <ref name="element.index"/>
                <ref name="element.legalStatus"/>
                <ref name="element.odd"/>
                <ref name="element.originalsLoc"/>
                <ref name="element.otherFindAid"/>
                <ref name="element.physTech"/>
                <ref name="element.preferCite"/>
                <ref name="element.processInfo"/>
                <ref name="element.publicationNote"/>
                <ref name="element.relatedMaterial"/>
                <ref name="element.relations"/>
                <ref name="element.scopeContent"/>
                <ref name="element.separatedMaterial"/>
                <ref name="element.useConditions"/>
            </choice>
        </oneOrMore>
    </define>

</grammar>
